<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>471954792772-pq9irqd7fi5ru2r21797fdi2db5t6f5o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.471954792772-pq9irqd7fi5ru2r21797fdi2db5t6f5o</string>
	<key>API_KEY</key>
	<string>AIzaSyD2i6wi-CZLOUUuPTR9HS3pO0jdo7v0Mok</string>
	<key>GCM_SENDER_ID</key>
	<string>471954792772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tuesday.storytime</string>
	<key>PROJECT_ID</key>
	<string>storytime-2fe9b</string>
	<key>STORAGE_BUCKET</key>
	<string>storytime-2fe9b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471954792772:ios:9d4d9ac751312f1a9db711</string>
</dict>
</plist>